@page "/draw"
<NavMenu />

<div class="btn-toolbar vertical" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group-vertical mr-5" role="group" aria-label="First group">
        <button type="button" class="btn indigo lighten-2 waves-effect"><i class="fas fa-star" aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2 waves-effect"><i class="fas fa-heart" aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue lighten-2 waves-effect"><i class="fas fa-user" aria-hidden="true"></i></button>
        <button type="button" class="btn cyan lighten-2 waves-effect"><i class="fab fa-twitter" aria-hidden="true"></i></button>
    </div>
</div>


<style>
    html, body {
        margin: 0;
        padding: 0;
        overflow: hidden
    }
</style>
