@page "/draw"
<NavMenu />

<div class="btn-toolbar flex-center" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-0" role="group" aria-label="First group">
        <button type="button" class="btn blue-gradient waves-effect"><i class="fas fa-star" aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue waves-effect"><i class="fas fa-heart" aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue waves-effect"><i class="fas fa-user" aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue waves-effect"><i class="fab fa-twitter" aria-hidden="true"></i></button>
    </div>
</div>

<div id="drawingBoard">

</div>


<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: rgb(195,234,237);
        background: linear-gradient(90deg, rgba(195,234,237,1) 0%, rgba(126,126,191,1) 35%, rgba(87,116,120,1) 100%);
    }
    #drawingBoard {
        background-color: white;
        left: 5%;
        top: 12%;
        bottom: 5%;
        right: 5%;
        position: absolute;
        width: 90%;
        z-index: -1;
        height: 86%;
    }
</style>
