@page "/"
<NavMenu />


<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section description -->
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">Inflate a 3d doodle into a 3D object</p>

        <!--First row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-tablet-alt fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Responsive</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-cogs fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Customizable</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-pencil-ruler fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">UI Elements</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-recycle fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Clean Code</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
        <!--First row-->

    </section>


</div>

<style>
    body {
        background-repeat: no-repeat;
        background-color:white;
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
</style>
