@page "/"
@inject IJSRuntime Runtime 
<NavMenu />


<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <!-- Section description -->
        <p class="lead text-center white-text w-responsive mx-auto text-muted mt-4 pt-2 mb-5">Inflate a 2D image to 3D Doodle.</p>

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="/draw" class="card hoverable waves-effect">

                    <!-- Card content -->
                    <div class="card-body">

                        <div class="media">
                            <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">
                                <i class="fas fa-draw-polygon fa-2x"></i>
                            </span>
                            <div class="media-body">
                                <h5 class="dark-grey-text mb-3">Draw Doodle</h5>
                                <p class="font-weight-light text-muted mb-0">Create 2D image on an Online Canvas and Convert that to a 3D Doodle</p>
                            </div>
                        </div>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--First column-->
            <!--Second column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <div  class="card hoverable waves-effect" @onclick="OnObjLoad">

                    <!-- Card content -->
                    <div class="card-body" data-toggle="modal" data-target="#basicExampleModal" for="file-upload">

                        <div class="media">
                            <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">
                                <i class="fas fa-cloud-upload-alt fa-2x blue-text"></i>
                            </span>
                            <div class="media-body">
                                <h5 class="dark-grey-text mb-3">OBJ Viewer</h5>
                                <p class="font-weight-light text-muted mb-0">View your own custom  3D wavefront Obj Model in browser window.</p>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- Card -->
                <!-- Card -->

            </div>
            <!--Second column-->

        </div>
        <!--First row-->

    </section>


</div>


<input id="file-upload" style="visibility:hidden" type="file" />




<style>
    body {
        background-repeat: no-repeat;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        background-size: 100% 100vh;
        background-position: 0% 0%;
    }
</style>

@code
{
    async void OnObjLoad()
    {
        await Runtime.InvokeVoidAsync("LoadObj");
    }
}