@page "/"
<NavMenu />


<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <!-- Section description -->
        <p class="lead text-center white-text w-responsive mx-auto text-muted mt-4 pt-2 mb-5">Inflate a 2D image to 3D Doodle.</p>

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable waves-effect">

                    <!-- Card content -->
                    <div class="card-body">

                        <div class="media">
                            <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">
                                <i class="fas fa-draw-polygon fa-2x"></i> 
                            </span>
                            <div class="media-body">
                                <h5 class="dark-grey-text mb-3">Draw</h5>
                                <p class="font-weight-light text-muted mb-0">Create 2D image on an Online Canvas and Convert that to a 3D Doodle</p>
                            </div>
                        </div>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--First column-->
            <!--Second column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable waves-effect">

                    <!-- Card content -->
                    <div class="card-body">

                        <div class="media">
                            <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">
                                <i class="fas fa-cloud-upload-alt fa-2x"></i>                           
                            </span>
                            <div class="media-body">
                                <h5 class="dark-grey-text mb-3">Upload Image</h5>
                                <p class="font-weight-light text-muted mb-0">Use a 2D image from your device and Convert that to a 3D Doodle</p>
                            </div>
                        </div>

                    </div>

                </a>
                <!-- Card -->
                <!-- Card -->

            </div>
            <!--Second column-->

        </div>
        <!--First row-->

    </section>


</div>
<style>
    body {
        background-repeat: no-repeat;
        background-image: linear-gradient(to bottom right, aqua, skyblue);
        background-size: 100% 100vh;
        background-position: 0% 0%;
    }
</style>
